<h1> <%= @destination.name %> </h1>
<h2>Recent posts: </h2>
<% @destination.posts.each do |post| %>
<p> <%= link_to post.title, post_path(post) %> </p>
<% end %>
<h2>Featured Post: </h2>
<%= link_to @destination.featured_post.title, post_path(@destination.featured_post) %>
<h2>Average age of bloggers: </h2>
<%= @destination.bloggers.average(:age) %>